*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --primary-color: rgb(20, 12, 20);
  --text-color: #fff;
  --main-color: #eb4a9b;
  --secondary-color: rgb(247, 228, 243);
  --h1-font: 5.2rem;
  --h2-font: 3.5rem;
  --p-font: 1.1rem;
  --row-color: #2e1e2d;
}
body {
  background: var(--primary-color);
  color: var(--text-color);
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 16%;
  border-bottom: 1px solid transparent;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.4s ease;
  background-color: rgb(172, 160, 172);
}
.logo{
  font-size: 2.5em;
  color: #fff;
  font-weight: 500;
}
section {
  padding: 130px 3% 60px;
}
.navbar {
  display: flex;
}
.navbar a {
  font-weight: 600;
  padding: 10px 25px;
  margin: 0 2px;
  border-radius: 0.5rem;
  color: var(--secondary-color);
  font-size: var(--p-font);
}
.navbar a:hover {
  background: var(--main-color);
  color: var(--text-color);
}

#openMenu {
  display: none;
}

#menu-icon {
  font-size: 36px;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}
.home {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-text h1 {
  margin: 20px 0;
  font-size: var(--h1-font);
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: 2px;
}
span {
  color: var(--main-color);
}
.home-text h4 {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 600;
}
.home-text h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 2rem;
}
.btn {
  background: var(--main-color);
  color: var(--text-color);
  border: 1px solid var(--main-color);
  transition: all 0.4s ease;
  display: inline-block;
  padding: 14px 40px;
  border-radius: 0.5rem;
  font-size: 17px;
  font-weight: 500;
}
.btn:hover {
  transform: scale(1.01) translateY(-5px);
  background: transparent;
  border: 1px solid var(--main-color);
}
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.8rem;
}
.about-text h4 {
  margin: 10px 0;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
}
.about-text h2 {
  font-size: var(--h2-font);
}
.about-text p {
  color: var(--secondary-color);
  font-size: var(--p-font);
  line-height: 30px;
  margin-bottom: 2rem;
}
.about-grid {
  display: grid;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  
}
.about-in h5 {
  font-size: 22px;
  font-weight: 600;
}
.about-img img {
  height: auto;
  width: 100%;
  max-width: 460px;
  border-radius: 50%;
  border: 2px dashed var(--main-color);
}

.main-text {
  text-align: center;
}
.main-text h2 {
  font-size: var(--h2-font);
  margin-bottom: 10px;
}
.main-text h4 {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 600;
}
/* portffolio */
.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}
.row {
  padding: 25px;
  background: var(--row-color);
  border-radius: 0.5rem;
  transition: all 0.4s ease;
}
.row img {
  height: auto;
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}
.main-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.row h3 {
  font-size: 25px;
  font-weight: 700;
}
.row h6 {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}
.row-icon i {
  font-size: 21px;
}
.row:hover {
  transform: scale(1.01) translateY(-5px);
  cursor: pointer;
}
/* contact me */
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
.contact-text h4 {
  margin: 15px 0;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
}
.contact-text h2 {
  font-size: var(--h2-font);
}
.contact-text p {
  color: var(--secondary-color);
  font-size: var(--p-font);
  line-height: 25px;
  margin-bottom: 1.2rem;
}
.contact-list {
  margin-bottom: 3rem;
}
.contact-list li {
  margin-bottom: 10px;
  display: block;
}
.contact-list li a {
  display: block;
  color: var(--secondary-color);
  font-size: var(--p-font);
  font-weight: 600;
  transition: all 0.4s ease;
}
.contact-list li a:hover {
  transform: scale(1.01) translateY(-5px);
  color: var(--main-color);
}
.contact-icons i {
  color: var(--main-color);
  display: inline-flex;
  align-items: center;
  height: 40px;
  width: 40px;
  background: var(--row-color);
  border-radius: 0.5rem;
  justify-content: center;
  font-size: 18px;
  margin-right: 10px;
  transition: all 0.4s ease;
}
.contact-icons i:hover {
  transform: scale(1.01) translateY(-5px);
  color: var(--text-color);
  background: var(--main-color);
}

.contact-form form {
  position: relative;
}
.contact-form form input,
form textarea {
  border: none;
  outline: none;
  width: 100%;
  padding: 18px;
  background: var(--row-color);
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}
.contact-form textarea {
  resize: none;
  height: 220px;
}
.contact-form form .send {
  display: inline-block;
  font-size: 17px;
  font-weight: 500;
  background: var(--main-color);
  color: var(--text-color);
  width: 190px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
/* copyright */
.cpyt p {
  text-align: center;
  padding: 15px;
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
}
@media (max-width: 1400px) {
  header {
    padding: 16px 3%;
  }
  section {
    padding: 130px 3% 60px;
  }
}

@media (max-width: 1000px) {
  :root {
    --h1-font: 4.2rem;
    --h2-font: 2.9rem;
    --p-font: 1rem;
  }
  section {
    padding: 70px 3% 60px;
  }
  .home {
    height: 85vh;
  }
  .about {
    grid-template-columns: 1fr;
  }
  .about-img {
    text-align: center;
  }
  .contact {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  :root {
    --h1-font: 3.5rem;
    --h2-font: 2.5rem;
  }
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: -600px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: var(--row-color);
    text-align: left;
    transition: all 0.4s ease;
  }
  .navbar a {
    display: block;
    padding: 1rem;
    margin: 1rem;
  }

  #openMenu:checked ~ .navbar {
    top: 100%;
  }
}
